.Rproj.user
.Rhistory
.RData
.Ruserdata
DFW For UG CHM Courses_Fa08_to_Sum19.xlsx
grades_gender_overall.png
Report_20200128.docx
grades_ethnicity_100_semester.png
grades_ethnicity_200_semester.png
grades_ethnicity_300_semester.png
grades_ethnicity_overall.png
grades_ethnicity_semester_course_100_line_simple_overlay.png
grades_ethnicity_semester_course_100_line_simple_overlay_fall.png
grades_ethnicity_semester_course_100_line_simple_overlay_spring.png
grades_ethnicity_semester_course_100_line_simple_overlay_summer.png
grades_ethnicity_semester_course_100_line_simple_overlay_term.png
grades_ethnicity_semester_course_100_line_simple_separate.png
grades_ethnicity_semester_course_100_line_simple_term.png
grades_ethnicity_semester_course_200_line_simple_overlay.png
grades_ethnicity_semester_course_200_line_simple_overlay_fall.png
grades_ethnicity_semester_course_200_line_simple_overlay_spring.png
grades_ethnicity_semester_course_200_line_simple_overlay_summer.png
grades_ethnicity_semester_course_200_line_simple_overlay_term.png
grades_ethnicity_semester_course_200_line_simple_separate.png
grades_ethnicity_semester_course_200_line_simple_term.png
grades_ethnicity_semester_course_300_line_simple_overlay.png
grades_ethnicity_semester_course_300_line_simple_overlay_fall.png
grades_ethnicity_semester_course_300_line_simple_overlay_spring.png
grades_ethnicity_semester_course_300_line_simple_overlay_term.png
grades_ethnicity_semester_course_300_line_simple_separate.png
grades_ethnicity_semester_course_300_line_simple_term.png
grades_ethnicity_semester_course_line_simple.png
grades_ethnicity_semester_line.png
grades_ethnicity_semester_line_simple.png
grades_fgen_100_semester.png
grades_fgen_100_semester_course.png
grades_fgen_200_semester.png
grades_fgen_200_semester_course.png
grades_fgen_300_semester.png
grades_fgen_300_semester_course.png
grades_fgen_overall.png
grades_fgen_semester_course_100_line_simple_overlay.png
grades_fgen_semester_course_100_line_simple_overlay_fall.png
grades_fgen_semester_course_100_line_simple_overlay_spring.png
grades_fgen_semester_course_100_line_simple_overlay_summer.png
grades_fgen_semester_course_100_line_simple_overlay_term.png
grades_fgen_semester_course_100_line_simple_separate.png
grades_fgen_semester_course_100_line_simple_term.png
grades_fgen_semester_course_200_line_simple_overlay.png
grades_fgen_semester_course_200_line_simple_overlay_fall.png
grades_fgen_semester_course_200_line_simple_overlay_spring.png
grades_fgen_semester_course_200_line_simple_overlay_summer.png
grades_fgen_semester_course_200_line_simple_overlay_term.png
grades_fgen_semester_course_200_line_simple_separate.png
grades_fgen_semester_course_200_line_simple_term.png
grades_fgen_semester_course_300_line_simple_overlay.png
grades_fgen_semester_course_300_line_simple_overlay_fall.png
grades_fgen_semester_course_300_line_simple_overlay_spring.png
grades_fgen_semester_course_300_line_simple_overlay_term.png
grades_fgen_semester_course_300_line_simple_separate.png
grades_fgen_semester_course_300_line_simple_term.png
grades_fgen_semester_line.png
grades_gender_100_semester.png
grades_gender_100_semester_course.png
grades_gender_200_semester.png
grades_gender_200_semester_course.png
grades_gender_300_semester.png
grades_gender_300_semester_course.png
grades_gender_semester_course_100_line_overlay.png
grades_gender_semester_course_100_line_overlay_term.png
grades_gender_semester_course_100_line_separate.png
grades_gender_semester_course_100_line_simple_overlay_fall.png
grades_gender_semester_course_100_line_simple_overlay_spring.png
grades_gender_semester_course_100_line_simple_overlay_summer.png
grades_gender_semester_course_100_line_term.png
grades_gender_semester_course_200_line_overlay.png
grades_gender_semester_course_200_line_overlay_term.png
grades_gender_semester_course_200_line_separate.png
grades_gender_semester_course_200_line_simple_overlay_fall.png
grades_gender_semester_course_200_line_simple_overlay_spring.png
grades_gender_semester_course_200_line_simple_overlay_summer.png
grades_gender_semester_course_200_line_term.png
grades_gender_semester_course_300_line_overlay.png
grades_gender_semester_course_300_line_overlay_term.png
grades_gender_semester_course_300_line_separate.png
grades_gender_semester_course_300_line_simple_overlay_fall.png
grades_gender_semester_course_300_line_simple_overlay_spring.png
grades_gender_semester_course_300_line_term.png
grades_gender_semester_line.png
